<div class="card bg-secondary py-5 mb-3 bg-secondary">
  <div class="container-fluid">
    <div class="panel">
      <%= search_form_for @citizens.search, url: citizens_path do |f| %>
        <div class="row">
          <div class="form-group col-md-6">
            <%= f.label :name_cont %>
            <%= f.search_field :name_cont, class: 'form-control form-control-alternative' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :phonenumber_cont %>
            <%= f.search_field :phonenumber_cont, class: 'form-control form-control-alternative' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :cpf_eq %>
            <%= f.search_field :cpf_eq, class: 'form-control form-control-alternative' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :birth_date_eq %>
            <%= f.search_field :birth_date_eq, as: :string, type: :date, class: 'form-control form-control-alternative' %>
          </div>
          <div class="col-md-12 text-right">
            <%= f.submit t('buttons.search'), class: 'btn btn-outline-info btn-round' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
