<div class="card bg-secondary shadow border-0">

  <div class="card-body px-4">
    <div class="text-muted text-center mb-3">
      <%= @citizen.model_name.human %> 
    </div>
    <%= simple_form_for @citizen, url: citizens_path do |f| %>
      <%= f.input :name, input_html: { class: 'form-control form-control-alternative' }, wrapper_html: { class: 'form-group' } %>
      <div class="row">
        <%= f.input :cpf, input_html: { class: 'form-control form-control-alternative' }, wrapper_html: { class: 'form-group col-md-6' } %>
        <%= f.input :cns, input_html: { class: 'form-control form-control-alternative' }, wrapper_html: { class: 'form-group col-md-6' } %>
        <%= f.input :photo, input_html: { class: 'form-control form-control-alternative' }, wrapper_html: { class: 'form-group col-md-6' } %>
        <%= f.input :birth_date, as: :string, input_html: { class: 'form-control form-control-alternative datepicker' }, wrapper_html: { class: 'form-group col-md-6' } %>
        <%= f.input :phonenumber, input_html: { class: 'form-control form-control-alternative' }, wrapper_html: { class: 'form-group col-md-6' } %>
        <%= f.input :status, as: :select, collection: [['A', 'Ativo'], ['I', 'Inativo']], label_method: :second, value_method: :first,
          selected: @citizen.status, input_html: { class: 'form-control form-control-alternative' }, wrapper_html: { class: 'form-group col-md-6' } %>
      </div>
      <%# f.input :telefone, label: 'Telefone', input_html: { class: 'form-control phonenumber-mask person-phone' }, wrapper_html: { class: 'form-group pmd-textfield col-md-3' } %>
      <%# f.input :telefone_alt, label: 'Telefone Alternativo', input_html: { class: 'form-control phonenumber-mask person-phone-2' }, wrapper_html: { class: 'form-group pmd-textfield col-md-3' } %>
      <%# f.input :email, label: 'E-mail', input_html: { class: 'form-control person-email' }, wrapper_html: { class: 'form-group pmd-textfield col-md-9' } %>
      <%# f.input :status, as: :select, collection: [['A', 'Ativo'], ['I', 'Inativo']], label_method: :second, value_method: :first,
          selected: @customer.status, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group pmd-textfield col-md-3' } %>
      <div class="row col-md-12 col-sm-12 col-lg-12 text-right">
          <%# render 'layouts/common/buttons/back',
              link: :back %>
          <%= render 'layouts/common/actions/submit' %>
      </div>
    <% end %>
  </div>
</div>

