<div style="align-items: flex-end; justify-content: space-between;" class="row col-md-6 pl-4 mt-3">
  <%= link_to @citizen.photo.thumb.url, target: :_blank do %>
    <%= image_tag @citizen.photo.thumb.url, class: 'img-fluid rounded mr-3', style: 'width: 25px;' %>
    <br><span> <%= t('common.images.sizes.small') %> </span>
  <% end %>
  <%= link_to @citizen.photo.normal.url, target: :_blank do %>
    <%= image_tag @citizen.photo.normal.url, class: 'img-fluid rounded mr-3', style: 'width: 50px;' %>
    <br><span> <%= t('common.images.sizes.regular') %> </span>
  <% end %>
  <%= link_to @citizen.photo.large.url, target: :_blank do %>
    <%= image_tag @citizen.photo.large.url, class: 'img-fluid rounded mr-3', style: 'width: 100px;' %>
    <br><span> <%= t('common.images.sizes.large') %> </span>
  <% end %>
</div>