<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      .rounded {
        width: 50px;
        height: auto;
        border: 1px, solid;
        border-radius: 10%;
      }
      .container {
        margin: 10px;
      }
      .centered {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p> <%=  "#{@citizen.model_name.human}: #{@citizen.name}" %>!</p>
      <p>
      <%= t('common.details', model: @citizen.model_name.human) %> <br>
      --------------------------
      </p>
      <div class="centered">
        <%= email_image_tag "public#{@citizen.photo.thumb.url}", class: 'rounded' %>
          <h3 style="margin-left: 5px;">| <%= Citizen.human_attribute_name :name %>: <%= @citizen.name %></h3>
      </div>
      <p><%= Citizen.human_attribute_name :email %>: <%= @citizen.email %></p>
      <p><%= Address.human_attribute_name :address %>: <%= @citizen.pretty_address %> </p>
      <p><%= Citizen.human_attribute_name :phonenumber %>: <%= @citizen.pretty_phonenumber %></p>
      <p>
      Att:<br>
      ----------
      </p>
      <p> <%= email_image_tag "app/assets/images/logo.png", class: 'rounded' %> </p>
    </div>
  </body>
</html>