<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-white navbar-light position-sticky top-0 shadow py-2">
  <div class="container">
    <a class="navbar-brand mr-lg-5" href="/">
      <%= image_tag 'logo.png' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="/">
              <%= image_tag 'logo', width: '22' %>
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:;" id="nav-inner-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('common.links.actions.options') %></a>
          <div class="dropdown-menu" aria-labelledby="nav-inner-primary_dropdown_1">
            <%= link_to t('devise.actions.sign_in'), new_user_session_path,
                class: 'dropdown-item' unless current_user.present? do %>
              <span class="btn-inner--icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            <% end %>
            <%= link_to t('devise.actions.edit_account', model: User.model_name.human), edit_user_registration_path,
                class: 'dropdown-item' if current_user.present? do %>
              <span class="btn-inner--icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to t('devise.actions.sign_out'), destroy_user_session_path, method: :get,
                class: 'dropdown-item' if current_user.present? do %>
              <span class="btn-inner--icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>