<!DOCTYPE html>
<html>
  <head>
    <title> <%= controller_name.humanize || "MunicipeCrud" %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'layouts/common/navigation/navbar' %>
    <div class="wrapper">
      <%= render 'layouts/common/partials/notices' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :other_js %>
  </body>
</html>
